__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.vscode/
.idea/
*.pth
*.safetensors
*.bin
*.ckpt
clip-vit-large-patch14/
UniversalFakeDetect/
prefix_caption/
Genimage_CNNDetection_CLIP_prefix_caption/
Chameleon/
diffusion/
vqdm/
my_first_test/
checkpoints/
*.png
*.jpg
.DS_Store
